@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body{
    background-color: #E8E8E8;
}

.content{
    display: flex;
}

.isi-home{
    display: flex;
    flex-direction: column;
    color: black;
    margin: 0px;
    padding: 5px;
}

.isi-main-content{
    display: flex;
}

.main-content{
    width: 70%;
    margin-left: 0px;
    display: flex;
}

.main-content-1{
    width: 50%;
}

.main-content-2{
    width: 50%;
}

.main-content ul{
    margin-top: 0px;
}

.main-content ul li{
    list-style: none;
    display: flex;
    transition: transform 0.5s ease;
    padding: 0px 10px 0px 10px;
    border-radius: 20px;
    align-items: center;
}

.main-content ul li:hover{
    transform: scale(1.1) translate(10px);
    width: auto;
    height: auto;
}

.business-problem{
    background-color: #D77E19;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 300;
    margin: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 38vh;
    box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.51);
    -webkit-box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.51);
    -moz-box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.51);
}

.business-problem h1{
    margin: 10px;
    margin-bottom: 20px;
    align-items: center;
}

.button{
    width: 15%;
    height: 15%;
    background: none;
    margin-left: 80%;
    margin-top: 33%;
}

.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    font-size: 20px;
    font-weight: 600;
}

.modal-content img{
    height: 30%;
    width: 50%;
    padding-top: 15px;
    gap: 20px;
}
  
/* The Close Button */
.close{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.problem-statement{
    background-color: #F5BA5E;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 300;
    margin: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 35vh;
    box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.51);
    -webkit-box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.51);
    -moz-box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.51);
}

.problem-statement h1{
    margin: 10px;
    margin-bottom: 20px;
    align-items: center;
}

.scope{
    background-color: #E3A36F;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 300;
    margin: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 35vh;
    box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.51);
    -webkit-box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.51);
    -moz-box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.51);
}

.scope h1{
    margin: 10px;
    margin-bottom: 20px;
    align-items: center;
}

.whys{
    background-color: #D77E19;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 300;
    margin: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25vh;
    box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.51);
    -webkit-box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.51);
    -moz-box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.51);
}

.whys h1{
    margin: 10px;
    margin-bottom: 20px;
    align-items: center;
}

.metric{
    background-color: #F5BA5E;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 300;
    margin: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25vh;
    box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.51);
    -webkit-box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.51);
    -moz-box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.51);
}

.metric h1{
    margin: 10px;
    margin-bottom: 20px;
    align-items: center;
}

.image{
    background-color: #E3A36F;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    width: 92%;
    margin-left: 20px;
    margin-top: 20px;
    box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.51);
    -webkit-box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.51);
    -moz-box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.51);
}

.image img{
    border-radius: 20px;
    height: 58vh;
}

.image ul li{
    list-style: none;
}

.image ul li img{
    width: 69vh;
    height: 30vh;
    border-radius: 20px;
}

.sidebar-kanan{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 123vh;
    margin: 20px;
    padding: 40px;
    border-radius: 10px;
    color: black;
    align-items: center;
    right: 20px;
    box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.51);
    -webkit-box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.51);
    -moz-box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.51);
}

.sidebar-kanan-judul {
    padding-bottom: 20px;
    font-size: 15px;
    font-weight: 500;
}

.sidebar-kanan ul li{
    list-style: none;
    display: flex;
    margin: 5px 10px 5px 10px;
    transition: transform 0.5s ease;
    padding: 0px 10px 0px 10px;
    border-radius: 20px;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
}

.sidebar-kanan ul li:hover{
    background-color: #F5BA5E;
    transform: scale(1.1) translate(30px);
    width: auto;
    height: auto;
}

.sidebar-kanan ul li img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.kartu-nama{
    margin: 0 20px 0 20px;
}