@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    display: flex;
}

.hamburger-menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
    padding: 1rem;
}

.sidebar-kiri.buka {
    display: none;
}

.sidebar-kiri {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 110px;
    height: 100vh;
    padding: 0 1.5rem;
    color: #fff;
    overflow: hidden;
    transition: all 0.5s linear;
    background: white;
}

.sidebar-kiri:hover {
    width: 240px;
    transition: 0.5s;
}

/* .logo {
    height: 80px;
    padding: 16px;
} */

.menu {
    height: 88%;
    list-style: none;
    position: relative;
    padding: 0;
    top: 150px;
    font-size: 30px;
}

.menu li {
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.menu li:hover,
.active {
    background: #fff2d7;
}

.menu a {
    color: black;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu a span {
    overflow: hidden;
}

.menu a i {
    font-size: 1.5rem;
    color: #f5ba5e;
}

/* .logout{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
} */

/* main Content */

.main--content {
    position: relative;
    background: #ebe9e9;
    width: 100%;
    padding: 1rem;
}

.header--wrapper img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}

.header--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: none;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}

.header--title {
    color: #0a0908;
    font-size: 17px;
    font-weight: 600;
}

.header--title span {
    color: #f5ba5e;
}

.InputContainer {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    padding-left: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}



.input {
    width: 125px;
    height: 100%;
    border: none;
    outline: none;
    font-size: 0.9em;
    caret-color: rgb(255, 81, 0);
}

.labelforsearch {
    cursor: text;
    padding: 0px 12px;
}

.searchIcon {
    width: 13px;
}

.border {
    height: 40%;
    width: 1.3px;
    background-color: rgb(223, 223, 223);
}

.micIcon {
    width: 12px;
}

.micButton {
    padding: 0px 15px 0px 12px;
    border: none;
    background-color: transparent;
    height: 40px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.searchIcon path {
    fill: rgb(114, 114, 114);
}

.micIcon path {
    fill: #d77e19;
}

.micButton:hover {
    background-color: rgb(255, 230, 230);
    transition-duration: 0.3s;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}


@media screen and (max-width: 450px)  {
    .content {
        flex-direction: column;
        max-width: 720px;
        background-color: #ebe9e9;
    }

    .hamburger-menu {
        display: inherit;
        height: max-content;
        background-color: #fff;
    }

    .side{
        height: max-content;
        z-index: 200;
        position: relative;
        top: -10px;
        left: -7px;
    }

    .sidebar-kiri.buka {
        display: block;
        width: max-content;
        width: 100%;
        animation: slideDown 0.5s ease-out;
    }

    .menu li{
        width: 100%;
    }

    .menu {
        top: 0px;
    }

    .isi-home {
        display: flex;
        flex-direction: column;
    }

    .main--content {
        max-width: 720px;
    }

    .sidebar-kiri {
        display: none;
        width: 150px;
        position: relative;
        top: 0;
        left: 0;
        height: max-content;
        z-index: 100;
    }

    .sidebar-kiri ul {
        flex-direction: column;
        height: auto;
        margin-top: 0;
        width: 100%;
    }

    .sidebar-kiri ul li {
        width: auto;
        width: 100%;
        border-radius: 20px;
        margin: 5px;
    }

    .sidebar-kiri ul a {
        height: auto;
        width: 100%;
        padding: 10px;
    }

    .header--wrapper {
        flex-direction: column;
        width: 100%;
        padding: 10px;
    }

    .header--title {
        margin: 10px 0;
    }

    .search-container {
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
    }
    

    .search-box {
        width: 100%;
        margin: 10px 0;
    }
}

@media screen and (min-width: 451px) and (max-width: 1024px) {
    .content {
        flex-direction: column;
        max-width: 720px;
        background-color: #ebe9e9;
    }

    .hamburger-menu {
        display: inherit;
        height: max-content;
        background-color: #fff;
    }

    .side{
        height: max-content;
        z-index: 200;
        position: relative;
        top: -10px;
        left: -7px;
    }

    .sidebar-kiri.buka {
        display: block;
        width: max-content;
        width: 100%;
        animation: slideDown 0.5s ease-out;
    }

    .menu {
        top: 0px;
    }

    .isi-home {
        display: flex;
        flex-direction: column;
    }

    .main--content {
        max-width: 720px;
    }

    .sidebar-kiri {
        display: none;
        width: 150px;
        position: relative;
        top: 0;
        left: 0;
        height: max-content;
        z-index: 100;
    }

    .sidebar-kiri ul {
        flex-direction: column;
        height: auto;
        margin-top: 0;
        width: 100%;
    }

    .sidebar-kiri ul li {
        width: auto;
        width: 100%;
        border-radius: 20px;
        margin: 5px;
    }

    .sidebar-kiri ul a {
        height: auto;
        width: 100%;
        padding: 10px;
    }

    .header--wrapper {
        flex-direction: column;
        width: 100%;
        padding: 10px;
    }

    .header--title {
        margin: 10px 0;
    }

    .search-container {
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
    }
    

    .search-box {
        width: 100%;
        margin: 10px 0;
    }
}